<header
  class="sticky-header"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <div class="div-header">
    <nav class="header-nav" fxLayout="row" fxLayoutAlign="center center">
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu">
        <mat-icon class="header-nav-icon">menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="closeMenu()">
          <mat-icon>close</mat-icon>Fermer
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item>
          <span>Page d'accueil</span>
        </button>
        <button mat-menu-item>
          <span>Module Données</span>
        </button>
        <button mat-menu-item>
          <span>Module Export</span>
        </button>
        <button mat-menu-item>
          <span>Module Saisie</span>
        </button>
        <button mat-menu-item>
          <span>Module Synthèse</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          Déconnexion
        </button>
      </mat-menu>
    </nav>

    <h1 class="title">HydroWit</h1>

    <div class="div-logo">
      <img
        src="assets/images/logo-mde-rgb.png"
        alt="logo de la maison de l'estuaire"
        class="logo"
      />
    </div>
  </div>
</header>
