.sticky-header {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: rgb(241, 236, 236);
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.div-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
}

.title {
  display: flex;
  font-size: xx-large;
  margin: 0 1.5em 0 1.5em;
}

.div-logo {
  display: flex;
}

.logo {
  width: 100%;
  max-width: 200px;
  height: auto;
}

@media (min-width: 900px) {
  .header-nav {
    width: 60px;
    height: 60px;
  }

  .header-nav > button {
    width: 100%;
    height: 100%;
  }

  .material-icons {
    width: 100%;
    height: 100%;
  }

  .header-nav-icon {
    font-size: 1.8em;
  }

  button[mat-menu-item] {
    width: 210px;
  }
}
