<div class="form-group-container">
  <!-- on affiche la sélection d'un système de données -->
  <div class="form-group">
    <label for="dataSystem">Système de données</label>
    <div *ngFor="let dataSystem of dataSystems">
      <input
        type="radio"
        id="dataSystem_{{ dataSystem.nom }}"
        [checked]="selectedDataSystem.includes(dataSystem.nom)"
      (change)="onDataSystemChange(dataSystem.nom)"
      />
      <label for="dataSystem_{{ dataSystem.nom }}">{{ dataSystem.nom }}</label>
    </div>
  </div>

  <!-- on affiche la sélection d'emplacements uniquement après la sélection d'un système de données -->
  <div class="form-group">
    <label for="emplacement">Emplacements</label>
    <select
      class="form-control"
      id="emplacement"
      [(ngModel)]="selectedStations"
      multiple
    >
      <option *ngFor="let station of stations" [value]="station.emplacement">
        {{ station.emplacement }}
      </option>
    </select>
  </div>

  <!-- on affiche la sélection de capteurs uniquement après la sélection d'emplacements -->
  <div class="form-group">
    <label for="sensor">Capteurs</label>
    <select
      class="form-control"
      id="sensor"
      [(ngModel)]="selectedSensors"
      multiple
    >
      <option *ngFor="let sensor of sensors" [value]="sensor.id_capteur">
        {{ sensor.id_capteur }} - {{ sensor.nom_capteur }}
      </option>
    </select>
  </div>
</div>
<div class="button-container">
  <button class="btn btn-primary" (click)="onSubmit()">Envoyer</button>
</div>
