<form #searchBarForm="ngForm" (ngSubmit)="onSubmit(searchBarForm)">
  <mat-card>
    <mat-card-header
      ><mat-card-title>Filtres de recherche</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card>
        <mat-card-title>Afficher:</mat-card-title>
        <mat-checkbox>Niveaux d'eau</mat-checkbox>
        <mat-checkbox>Maréegraphe</mat-checkbox>
        <mat-checkbox>Télémesures</mat-checkbox>
      </mat-card>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button type="submit">Rechercher</button>
    </mat-card-actions>
  </mat-card>
</form>
