<div class="form-group-container">
  <!-- on affiche la sélection d'un système de données -->
  <div class="form-group">
    <label for="dataSystem" class="labels">Système de données</label>
    <div *ngFor="let dataSystem of dataSystems">
      <input
        type="radio"
        id="dataSystem_{{ dataSystem.nom }}"
        name="dataSystem"
        [value]="dataSystem.nom"
        [(ngModel)]="selectedDataSystem"
      />
      <label for="dataSystem_{{ dataSystem.nom }}">{{ dataSystem.nom }}</label>
    </div>
    <div class="button-container">
      <button class="btn btn-primary" (click)="onSubmit()">Envoyer</button>
    </div>
  </div>

  <!-- on affiche la sélection d'emplacements uniquement après la sélection d'un système de données -->
  <div *ngIf="isFormSubmitted && isDataSystemSelected" class="form-group">
    <label for="libelle_station" class="labels">Emplacements</label>
    <select
      class="form-control"
      id="libelle_station"
      [(ngModel)]="selectedStations"
      multiple
    >
      <option *ngFor="let station of stations" [value]="station.libelle_station">
        {{ station.libelle_station }}
      </option>
    </select>
    <div class="button-container">
      <button class="btn btn-primary" (click)="onSubmit()">Envoyer</button>
    </div>
  </div>

  <!-- on affiche la sélection de capteurs uniquement après la sélection d'emplacements -->
  <div *ngIf="isFormSubmitted && isStationsSelected" class="form-group">
    <label for="sensor" class="labels">Capteurs</label>
    <select
      class="form-control"
      id="sensor"
      [(ngModel)]="selectedSensors"
      multiple
    >
      <option *ngFor="let sensor of sensors" [value]="sensor.id_capteur">
        {{ sensor.id_capteur }} - {{ sensor.nom_capteur }}
      </option>
    </select>
    <div class="button-container">
      <button class="btn btn-primary" (click)="onSubmit()">Envoyer</button>
    </div>
  </div>
</div>
