<app-header></app-header>
<div *ngIf="module">
  <h2>Détails du Module : {{ module.title }}</h2>
  <p><strong>Description :</strong> {{ module.description }}</p>
</div>
<div *ngIf="!module">
  <p>Le module n'a pas été trouvé.</p>
</div>

<!-- le formulaire de recherche -->
<app-search-bar (submit)="onSubmit($event)"></app-search-bar>

<!-- on affiche le tableau de résultat uniquement après soumission du formulaire -->
<div *ngIf="isFormSubmitted">
  <table mat-table [dataSource]="stations" class="mat-elevation-z8">
    <!-- id_atm Column -->
    <ng-container matColumnDef="id_atm">
      <th mat-header-cell *matHeaderCellDef>id_atm</th>
      <td mat-cell *matCellDef="let station">{{ station.id_atm }}</td>
    </ng-container>

    <!-- emplacement Column -->
    <ng-container matColumnDef="emplacement">
      <th mat-header-cell *matHeaderCellDef>emplacement</th>
      <td mat-cell *matCellDef="let station">{{ station.emplacement }}</td>
    </ng-container>

    <!--  secteur Column -->
    <ng-container matColumnDef="secteur">
      <th mat-header-cell *matHeaderCellDef>secteur</th>
      <td mat-cell *matCellDef="let station">{{ station.secteur }}</td>
    </ng-container>

    <!--  activite Column -->
    <ng-container matColumnDef="activite">
      <th mat-header-cell *matHeaderCellDef>activite</th>
      <td mat-cell *matCellDef="let station">{{ station.activite }}</td>
    </ng-container>

    <!--  ref_alti Column -->
    <ng-container matColumnDef="ref_alti">
      <th mat-header-cell *matHeaderCellDef>ref_alti</th>
      <td mat-cell *matCellDef="let station">{{ station.ref_alti }}</td>
    </ng-container>

    <!--  cote_cmh Column -->
    <ng-container matColumnDef="cote_cmh">
      <th mat-header-cell *matHeaderCellDef>cote_cmh</th>
      <td mat-cell *matCellDef="let station">{{ station.cote_cmh }}</td>
    </ng-container>

    <!--  type_atm Column -->
    <ng-container matColumnDef="type_atm">
      <th mat-header-cell *matHeaderCellDef>type_atm</th>
      <td mat-cell *matCellDef="let station">{{ station.type_atm }}</td>
    </ng-container>

    <!--  liste_atm Column -->
    <ng-container matColumnDef="liste_atm">
      <th mat-header-cell *matHeaderCellDef>liste_atm</th>
      <td mat-cell *matCellDef="let station">{{ station.liste_atm }}</td>
    </ng-container>

    <!--  interventions_sur_atm Column -->
    <ng-container matColumnDef="interventions_sur_atm">
      <th mat-header-cell *matHeaderCellDef>interventions_sur_atm</th>
      <td mat-cell *matCellDef="let station">
        {{ station.interventions_sur_atm }}
      </td>
    </ng-container>

    <!-- En-tête de table -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <!-- Lignes de données -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <table mat-table [dataSource]="sensors" class="mat-elevation-z8">
    <!-- id_capteur Column -->
    <ng-container matColumnDef="id_capteur">
      <th mat-header-cell *matHeaderCellDef>id_capteur</th>
      <td mat-cell *matCellDef="let sensor">{{ sensor.id_capteur }}</td>
    </ng-container>

    <!-- nom_capteur Column -->
    <ng-container matColumnDef="nom_capteur">
      <th mat-header-cell *matHeaderCellDef>nom_capteur</th>
      <td mat-cell *matCellDef="let sensor">{{ sensor.nom_capteur }}</td>
    </ng-container>

    <!--  unite_capteur Column -->
    <ng-container matColumnDef="unite_capteur">
      <th mat-header-cell *matHeaderCellDef>unite_capteur</th>
      <td mat-cell *matCellDef="let sensor">{{ sensor.unite_capteur }}</td>
    </ng-container>

    <!--  desc_capteur Column -->
    <ng-container matColumnDef="desc_capteur">
      <th mat-header-cell *matHeaderCellDef>desc_capteur</th>
      <td mat-cell *matCellDef="let sensor">{{ sensor.desc_capteur }}</td>
    </ng-container>

    <!--  libelle_capteur Column -->
    <ng-container matColumnDef="libelle_capteur">
      <th mat-header-cell *matHeaderCellDef>libelle_capteur</th>
      <td mat-cell *matCellDef="let sensor">{{ sensor.libelle_capteur }}</td>
    </ng-container>

    <!--  nom_capteur_data Column -->
    <ng-container matColumnDef="nom_capteur_data">
      <th mat-header-cell *matHeaderCellDef>nom_capteur_data</th>
      <td mat-cell *matCellDef="let sensor">{{ sensor.nom_capteur_data }}</td>
    </ng-container>

    <!--  type_station Column -->
    <ng-container matColumnDef="type_station">
      <th mat-header-cell *matHeaderCellDef>type_station</th>
      <td mat-cell *matCellDef="let sensor">{{ sensor.type_station }}</td>
    </ng-container>

    <!-- En-tête de table -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>

    <!-- Lignes de données -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
  </table>
</div>
