<div class="grid-container" fxLayout="column" fxLayoutGap="20px">
  <h1 class="mat-h1">blabla</h1>

  <!-- Layout Flex en colonne -->
  <div fxLayout="column" fxLayoutGap="20px">
    <div *ngFor="let module of modules" fxFlex="100%">
      <mat-card class="">
        <mat-card-header>
          <mat-card-title>{{ module.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Nom du module ici
            <br>a<br>b<br>c<br>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


